<h2><%= board.escape("title") %></h2>
<h3>Lists:</h3>
<div class='lists'>

</div>

<form class="new-list">
  Add List:
  <input type="text" name="name" class="list-name">
  <input type="submit" value="Add List">
</form>
<br>
<br>
<div class="clearfix">
<button class="remove-board">Remove Board</button>
<br><br>
<a href="#">Back To Index</a>
